name: build

on:
  push:
    branches:
      - master
      - testing
      - 0.3.x
      - 0.4.x
    tags:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        include:
          - os: ubuntu-latest
            python-version: 'pypy3.9'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install coverage flake8 pytest
        python -m pip install mercurial
        python -m pip install dulwich
        python -m pip install -e .
    # - name: Lint with flake8
    #   run: |
    #     flake8
    - name: Test with pytest
      run: |
        coverage run --include=src/* -m pytest
        coverage report -m
    - name: Coveralls
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version != '2.7' && matrix.python-version != 'pypy2.7' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python -m pip install coveralls
        coveralls --service=github
